body {
  font-family: sans-serif;
}

input {
  border-radius: 16pt;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16pt;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.title {
  text-align: center;
  margin: 0px;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-self: center;
  padding-bottom: 4pt;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8pt;
  border-radius: 8pt;
}

.imcomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8pt;
  border-radius: 8pt;
}

.complete-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8pt;
  border-radius: 8pt;
}
